# My First ML Project

## Handling Data

### function to load data from a csv

In [13]:
import os
import pandas as pd

DATA_PATH = '../data/'

def load_data(csv_name, data_path=DATA_PATH):
    csv_path = os.path.join(data_path, csv_name)
    return pd.read_csv(csv_path)

data = load_data('housing.csv')

False

### Check 1st five rows of the data

In [15]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

### Check information about data attributes and samples

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

#### taking a look at a specific attribute (feature)
As we can see that ocean procimity is not a numeric data type, so we will take a look at it

In [18]:
data['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

it will give us an insight into the specified feature. As we can see it is a categorical attribute.

### Descibe the numeric data

In [20]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

this gives us info about mean, standard daviation, median, percentiles and range of the attributes

## Visualizing data

In [ ]:
import matplotlib.pyplot as plt
data.hist(bins=50, figsize=(20,15))

plt.show()

Here hist function is called on Pandas data frame containing the data. it will make histograms for each column of the data. here bins specifies the number of the samples each class can have. figsize specifies the size of plot in inches.

## Spliting data into Train and Test set

Before feeding our data to a training algorithm for training the model, we split it into train and test sets. Then we use train set to feed to our algorithm to train the model. The test set is then used to test the model. There are different ways of splitting our data into train and test sets. One of the way is as below. this will ensure that even on running multiple time our test and train sets will remain same, as we have set the np.random.seed(). but if we updated the data set the train and test sets will be no longer same.

In [28]:
import numpy as np

def split_train_test(data, test_ratio=0.2):
    np.random.seed(42)
    shuffled_indices = np.random.permutation(len(data))
    test_set_size = int(len(data) * test_ratio)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

scikit learn also provides us with a train_test_split fuction. To keep the sets unchanged on multiple runs we need to set the seed using random_state parameter.}

In [ ]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

## Visualizing Dat to gain insights